# Added by Payload
DATABASE_URI=your-connection-string-here
PAYLOAD_SECRET=YOUR_SECRET_HERE

NEXT_PUBLIC_PAYLOAD_URL=http://localhost:3000

# Authjs
AUTH_SECRET=YOUR_SECRET_HERE
## Github
AUTH_GITHUB_ID={clientId}
AUTH_GITHUB_SECRET={clientSecret}
## Google
AUTH_GOOGLE_ID={clientId}
AUTH_GOOGLE_SECRET={clientSecret}

# NodeMailer
SMTP_HOST=your-smtp-host
SMTP_PORT=your-smtp-port
SMTP_USER=your-smtp-email
SMTP_PASS=your-smtp-password